                                    <td class="text-left">
                                        <a href="{:Uorder('list', $filter, $order, '%FIELD-NAME%')}" class="{:classOrder($order, '%FIELD-NAME%')}">%FIELD-COMMENT%</a>
                                    </td>
